*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.2rem;
  margin: 0.2rem;
}

#title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toppage{
  background-image: url(../docs/web.jpg);
  max-width: 100%;
  height: auto;
  color: #FDFEFE;
  font-family: Raleway,Arial, Helvetica, sans-serif;
  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: antiquewhite;
  position:sticky;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34c597;
}

.connection {
  display: flex;
  align-content: space-around;
  gap: 1.3rem;

}

footer
{
  background-color: #5cb9db;
}